.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 20px;
    padding: 10px 20px;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;

}

.extra-div {
    margin-left: -30%;
    margin-top: 5%;
}

.apa {
    padding: 0px 100px;

    width: 40%;


}

.half-width img {
    width: 40%;
    margin-top: -5%;
    margin-left: -0%;

}

.banner-img {
    background-image: url("images/shapes/7.png");
}

.recepie {
    text-align: center;
}

.lorem {
    text-align: justify;
    padding: 0px 300px;
}

.full-width {
    margin-top: 220px;
    margin-left: -550px;
    text-align: justify;
}

.full-width-extra {
    margin-top: 220px;
    margin-left: -550px;
    text-align: justify;
}

.other-width {
    width: 150%;
    padding: 0px -300px;
    margin-top: 40px;


}

.foot-1 {
    margin-top: 5%;
    margin-left: 10%;
}

.foot-2 {
    margin-left: 30%;
    margin-top: 5%;
}

.foot-3 {
    margin-left: 30%;
    margin-top: 5%;
}

.other-width-extra {
    width: 150%;
    padding: 0px -300px;
    margin-top: 40px;

}


.card-section {
    margin-left: 20%;
    box-shadow: 10px 10px 40px gray;

}

.ex-lorem {
    margin-right: 60%;
}